:root {
  --mat-sys-surface: #ffffff;
  --mat-sys-on-surface: #1c1c1c;
}

html {
  height: 100%;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
